@import url('https://fonts.googleapis.com/css?family=Commissioner:400,500,700&display=swap');
/* Global Styles */
:root {
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 80%);
  --moderate-cyan: hsl(176, 50%, 47%);
  --opaque-dark-gray: rgba(122, 122, 122, 0.5);
  --dark-cyan: hsl(176, 72%, 28%);

  --font-size: 16px;
  --normal-font: 400;
  --slightly-bold-font: 500;
  --bold-font: 700;

  --border-radius: 0.75rem;
  --line-height: 1.6;
  --margin: 1.25rem;
  --padding: 1.25rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Commissioner', sans-serif;
  font-size: var(--font-size);
  font-weight: var(--normal-font);
  margin: 0;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  line-height: var(--line-height);
  position: relative;
  /* Keep cards positioned correctly as monitor background image changes size when viewport changes size */
  & > div {
    position: absolute;
    top: 75%;
  }
}

.big-number {
  color: black;
  font-size: 2rem;
  font-weight: var(--bold-font);
}

.bkmk-active {
  color: var(--dark-cyan);

  & circle {
    fill: var(--dark-cyan);
  }

  & path {
    fill: white;
  }
}

.circle-btn {
  background-color: white;
  border-radius: 50%;
  border: 0.063rem solid var(--dark-gray);
  cursor: pointer;
  margin-right: 0.75rem;
  padding: 1rem;
}
/* Change padding of circle btn so it remains same size when clicked */
.circle-btn-active {
  padding: 0.5rem;
}
/* Change bg of div inside circle btn when it is clicked */
.circle-btn-fill {
  background: var(--dark-cyan);
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem;
}

.card {
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.125rem var(--opaque-dark-gray);
  color: var(--dark-gray);
  margin: 0 var(--margin) var(--margin) var(--margin);
  padding: var(--padding);
}

.inner-card {
  box-shadow: 0 0 0.063rem var(--dark-gray);
  margin: var(--margin) 0;
}

.inner-card-selected {
  border: 0.125rem solid var(--moderate-cyan);
  margin: var(--margin) 0;
}

.img {
  height: auto;
  object-fit: fill;
  max-width: 100%;
}

.modal {
  height: max-content;
  overflow: auto;
  position: absolute;
  left: var(--margin);
  right: var(--margin);
  top: var(--margin);
  z-index: 1;
}

.modal-content {
  background-color: white;
  border-radius: var(--border-radius);
  border: 0.063rem solid var(--opaque-dark-gray);
  padding: var(--padding);
}

.opaque {
  opacity: 0.5;
}

.more-opaque {
  opacity: 0.25;
}

.paragraph {
  color: var(--dark-gray);
  font-size: var(--font-size);
  font-weight: var(--normal-font);
}

.title {
  color: black;
  font-weight: var(--bold-font);
}

.subtitle {
  color: var(--moderate-cyan);
  font-weight: var(--slightly-bold-font);
}

.short-bot-border::after {
  border-bottom: 0.063rem solid var(--opaque-dark-gray);
  content: '';
  display: block;
  margin: auto;
  position: relative;
  width: 20%;
}

.txt-btn {
  background-color: var(--moderate-cyan);
  border: none;
  border-radius: 2.25rem;
  color: white;
  cursor: pointer;
  font-weight: var(--bold-font);
  text-align: center;
  padding: var(--padding) 2rem;
}

.txt-btn:hover,
.txt-btn:active {
  background-color: var(--dark-cyan);
}

.txt-btn-gray {
  background-color: var(--dark-gray);
  cursor: not-allowed;
}

.txt-btn-gray:hover {
  background-color: var(--dark-gray);
}

.visually-hidden {
  display: none !important;
}

:focus {
  outline: var(--dark-cyan) solid 0.125rem;
}
/* Component styles */
#pg-header {
  position: relative;
  z-index: 1;
  width: 100%;

  & #menu-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    padding: var(--padding);
    width: 100%;

    & #ham-menu {
      cursor: pointer;
    }
  }

  & #nav-modal {
    flex: auto;
    top: 3.5rem;
    overflow: visible;

    & .modal-content {
      border: none;
      padding: 0;
    }

    & #ham-menu-close {
      cursor: pointer;
      height: auto;
      position: absolute;
      right: 0;
      top: -2.1rem;
      width: auto;
    }

    & menu {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & > div {
        margin: 0;
        padding: 0;
      }

      & li {
        cursor: pointer;
        font-weight: var(--slightly-bold-font);
        margin: 0;
        padding: var(--padding);
      }

      & .short-bot-border:after {
        width: 100%;
      }
    }
  }
}

#intro {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  text-align: center;

  & #mastercraft-logo {
    position: absolute;
    top: -1.5rem;
  }

  & header {
    flex: auto;
  }

  & > div {
    flex: initial;
    display: flex;
    align-items: center;

    & button {
      flex: initial;
      margin-right: var(--margin);
    }

    & .bkmk:hover {
      color: var(--dark-cyan);
      cursor: pointer;

      & circle {
        fill: var(--dark-cyan);
      }

      & path {
        fill: white;
      }
    }
  }
}

#goals {
  align-self: stretch;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  & p {
    flex: auto;
    line-height: 1.2;
    text-align: center;
  }

  & meter {
    appearance: none;
    background: none;
    background-color: var(--opaque-dark-gray);
    border-radius: var(--border-radius);
    flex: auto;
  }

  & meter::-moz-meter-bar {
    background: var(--moderate-cyan);
    border-radius: var(--border-radius);
  }

  & meter::-webkit-meter-bar {
    appearance: none;
    background: var(--moderate-cyan);
  }
}

#selection-modal {
  top: 10rem;

  & #title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & #close-modal {
      flex: initial;
      cursor: pointer;
      height: 15;
      width: 15;
    }
  }

  & .card > header:hover {
    & > button {
      border: 0.063rem solid var(--moderate-cyan);
    }

    & > h3 {
      color: var(--moderate-cyan);
    }
  }

  & .card > header {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  & .pledge-box {
    align-items: center;
    border-top: 0.063rem solid var(--opaque-dark-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & p {
      flex: auto;
      text-align: center;
      width: 100%;
    }

    & .pledge-field {
      border: 0.125rem solid var(--opaque-dark-gray);
      border-radius: 2.25rem;
      caret-color: var(--dark-cyan);
      cursor: pointer;
      flex: initial;
      font-family: inherit;
      font-size: inherit;
      font-weight: var(--bold-font);
      text-align: center;
      padding: 1rem 0;
      margin-right: var(--margin);
      max-width: 8rem;
    }

    & form {
      flex: initial;
    }
  }

  & .modal-content > div:last-of-type > header {
    cursor: not-allowed;
  }
}

#thank-u-modal {
  top: 10rem;

  & .modal-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    line-height: var(--line-height);
    text-align: center;
  }

  & h2 {
    flex: 1 0 100%;
  }

  & p {
    flex: 1 0 100%;
  }
}

@media (min-width: 750px) {
  #menu-box {
    & #ham-menu {
      display: none;
    }

    & #ham-menu-close {
      display: none;
    }

    & #nav-modal {
      flex: initial;
      display: block !important;
      position: static;

      & nav {
        background: none;
        color: white;

        & div {
          display: inline;
        }

        & li {
          display: inline;
        }

        & .short-bot-border::after {
          display: none;
        }
      }
    }
  }

  main section {
    max-width: 44.5rem;
  }

  #intro {
    & > div {
      flex: auto;
      justify-content: space-between;
      width: 100%;
      padding: var(--padding);

      & button {
        margin-right: auto;
      }

      & .bkmk {
        background: var(--light-gray);
        border-radius: 2.25rem;
        display: flex;
        align-items: center;
        font-weight: var(--bold-font);

        & span {
          margin: 0 var(--margin);
          display: inline-block !important;
        }
      }
    }
  }

  #goals {
    flex-direction: row;
    flex-wrap: wrap;

    & p {
      border-right: 0.063rem solid var(--opaque-dark-gray);
    }

    & p:last-of-type {
      border-right: none;
    }

    & meter {
      width: 100%;
    }

    & .short-bot-border::after {
      display: none;
    }
  }

  #about {
    & h3 {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;

      & br {
        display: none;
      }
    }

    & div {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
    }
  }

  #selection-modal {
    & .modal-content {
      left: auto;
      right: auto;
      margin: auto;
      max-width: 44.5rem;
    }

    & .card header > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & h3 > br {
        display: none;
        flex: auto;
      }

      & .items-desktop {
        display: block !important;
      }
    }

    & .items-mobile {
      display: none;
    }

    & .pledge-box {
      justify-content: space-between;
      flex-wrap: nowrap;
      padding-top: var(--padding);

      & p {
        flex: initial;
        width: auto;
      }
    }
  }

  #thank-u-modal > .modal-content {
    left: auto;
    right: auto;
    margin: auto;
    max-width: 35rem;
    padding: calc(2 * var(--padding));
  }
}
